Repository breizhcamp/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint .

.lintstagedrc:

{
	"*.{js,ts,svelte,css,scss,postcss,svg,md,json}": ["prettier --write ."],
	"*.{js,ts,svelte}": ["eslint ."]
}

Configuration de netlify via netlify.toml & supression du fichier .envrc
  .envrc
  netlify.toml
Due: none

Ajout de la partie 'mise en production'. Correction de la partie .env avec pre-commit
  .env.example
  .husky/pre-commit
  README.md
Due: prettier --write .

Meilleur choix de l'outil dans pre-commit
  .husky/pre-commit
Due: none

BreizhCamp 2027
  src/lib/components/layout/Logo.svelte
  src/routes/+error.svelte
  src/routes/+page.svelte
  src/routes/accessibilite/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/design-system/+page.svelte
  src/routes/ecoindex/+page.svelte
  src/routes/equipe/+page.svelte
  src/routes/infos-pratiques/+page.svelte
  src/routes/infos-pratiques/faq/+page.md
  src/routes/infos-pratiques/lieu-et-acces/+page.md
  src/routes/sponsors/+page.svelte
Due: prettier --write ., eslint .

Correction d'une typo dans .husky/pre-commit
  .husky/pre-commit
Due: none

refactor meta tags to use the Seo component
  src/lib/components/seo/Seo.svelte
  src/routes/+error.svelte
  src/routes/+page.svelte
  src/routes/accessibilite/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/blog/BlogPostLayout.svelte
  src/routes/design-system/+page.svelte
  src/routes/ecoindex/+page.svelte
  src/routes/equipe/+page.svelte
  src/routes/infos-pratiques/+page.svelte
  src/routes/infos-pratiques/PracticalInfoLayout.svelte
  src/routes/sponsors/+page.svelte
Due: prettier --write ., eslint .

Indication de la fermeture du CFP
  src/lib/config/site.ts
Due: prettier --write ., eslint .

Refactoring gestion CFP ouvert/fermé/caché
  CONFIGURATION.md
  README.md
  src/lib/components/layout/Header.svelte
  src/lib/config/site.ts
Due: prettier --write ., eslint .

Mise à jour documentation sur la configuration du site - Gestion CFP ouvert/fermé/caché
  src/lib/config/README.md
Due: prettier --write .

Gestion des sponsors : affichage sur la frontpage + permettre de cacher les sponsors individuellement ou par niveau
  src/routes/+page.svelte
  src/routes/sponsors/+page.svelte
  src/routes/sponsors/constants.ts
Due: prettier --write ., eslint .

feat: add 2026 sponsors
  CONFIGURATION.md
  src/routes/+page.svelte
  src/routes/sponsors/+page.svelte
  src/routes/sponsors/SponsorCard.svelte
  src/routes/sponsors/constants.ts
  src/routes/sponsors/utils.ts
  static/sponsors/logo_6tm.png
  static/sponsors/logo_acensi.svg
  static/sponsors/logo_adventiel.png
  static/sponsors/logo_agence_ministerielle_pour_l'intelligence_artificielle_de_defense.png
  static/sponsors/logo_asi.jpg
  static/sponsors/logo_berix.png
  static/sponsors/logo_catamania.png
  static/sponsors/logo_cgi.png
  static/sponsors/logo_coexya.png
  static/sponsors/logo_cyim.svg
  static/sponsors/logo_delia_technologies.png
  static/sponsors/logo_elastic.svg
  static/sponsors/logo_fellows.png
  static/sponsors/logo_g2s.png
  static/sponsors/logo_groupe_sii.png
  static/sponsors/logo_idnow.png
  static/sponsors/logo_infotel.png
  static/sponsors/logo_kanoma.svg
  static/sponsors/logo_liksi.png
  static/sponsors/logo_luminess.png
  static/sponsors/logo_max_ds.svg
  static/sponsors/logo_mv_group.png
  static/sponsors/logo_net-ng.svg
  static/sponsors/logo_onepoint.png
  static/sponsors/logo_open.png
  static/sponsors/logo_oxxeo.png
  static/sponsors/logo_runson.svg
  static/sponsors/logo_scalian.png
  static/sponsors/logo_sfeir.png
  static/sponsors/logo_shodo_rennes.png
  static/sponsors/logo_softeam.png
  static/sponsors/logo_univ_rennes_1.png
  static/sponsors/logo_wijin.png
  static/sponsors/logo_zenika.svg
Due: prettier --write ., eslint .

feat: add 2026 sponsors (#25)
  CONFIGURATION.md
  src/routes/+page.svelte
  src/routes/sponsors/+page.svelte
  src/routes/sponsors/SponsorCard.svelte
  src/routes/sponsors/constants.ts
  src/routes/sponsors/utils.ts
  static/sponsors/logo_6tm.png
  static/sponsors/logo_acensi.svg
  static/sponsors/logo_adventiel.png
  static/sponsors/logo_agence_ministerielle_pour_l'intelligence_artificielle_de_defense.png
  static/sponsors/logo_asi.jpg
  static/sponsors/logo_berix.png
  static/sponsors/logo_catamania.png
  static/sponsors/logo_cgi.png
  static/sponsors/logo_coexya.png
  static/sponsors/logo_cyim.svg
  static/sponsors/logo_delia_technologies.png
  static/sponsors/logo_elastic.svg
  static/sponsors/logo_fellows.png
  static/sponsors/logo_g2s.png
  static/sponsors/logo_groupe_sii.png
  static/sponsors/logo_idnow.png
  static/sponsors/logo_infotel.png
  static/sponsors/logo_kanoma.svg
  static/sponsors/logo_liksi.png
  static/sponsors/logo_luminess.png
  static/sponsors/logo_max_ds.svg
  static/sponsors/logo_mv_group.png
  static/sponsors/logo_net-ng.svg
  static/sponsors/logo_onepoint.png
  static/sponsors/logo_open.png
  static/sponsors/logo_oxxeo.png
  static/sponsors/logo_runson.svg
  static/sponsors/logo_scalian.png
  static/sponsors/logo_sfeir.png
  static/sponsors/logo_shodo_rennes.png
  static/sponsors/logo_softeam.png
  static/sponsors/logo_univ_rennes_1.png
  static/sponsors/logo_wijin.png
  static/sponsors/logo_zenika.svg
Due: prettier --write ., eslint .

Mise à jour des sponsors
  src/routes/sponsors/constants.ts
  static/sponsors/logo_asi.jpg
  static/sponsors/logo_liksi.png
  static/sponsors/logo_sopra_steria.png
Due: prettier --write ., eslint .

feat: add newsletter form
  src/lib/components/NewsletterForm.svelte
  src/lib/config/site.ts
  src/lib/types/window.d.ts
  src/routes/+page.svelte
Due: prettier --write ., eslint .

feat: add newsletter form (#26)
  src/lib/components/NewsletterForm.svelte
  src/lib/config/site.ts
  src/lib/types/window.d.ts
  src/routes/+page.svelte
Due: prettier --write ., eslint .

Update sponsors 2026
  src/routes/sponsors/constants.ts
  static/sponsors/logo_celad.png
Due: prettier --write ., eslint .

feat(program): add temporary 2026 program
  src/lib/Speaker.svelte
  src/routes/programme/+layout.server.ts
  src/routes/programme/Event.svelte
  src/routes/programme/LaptopSchedule.svelte
  src/routes/programme/MobileSchedule.svelte
  src/routes/programme/MobileSlotTime.svelte
  src/routes/programme/SlotEvents.svelte
  src/routes/programme/SlotTitle.svelte
  src/routes/programme/constants.ts
  src/routes/programme/data/constants.ts
  src/routes/programme/data/keynotesAndLunch.json
  src/routes/programme/data/schedule.json
  src/routes/programme/data/speakers.json
  src/routes/programme/schedule.json
  src/routes/programme/session/[slug]/+page.server.ts
  src/routes/programme/session/[slug]/+page.svelte
  src/routes/programme/speakers.json
  src/routes/programme/utils.test.ts
  src/routes/programme/utils.ts
  static/conferences.json
Due: prettier --write ., eslint .

fix(program): fix filter color
  src/routes/programme/Filters.svelte
Due: prettier --write ., eslint .

feat: add bookmarks for the program
  src/lib/components/ui/Star.svelte
  src/routes/programme/BookmarkButton.svelte
  src/routes/programme/Event.svelte
  src/routes/programme/Filters.svelte
  src/routes/programme/[[slug=day]]/+page.svelte
  src/routes/programme/bookmarks.svelte.ts
Due: prettier --write ., eslint .

feat: implement session page (wip)
  src/lib/Speaker.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Star.svelte
  src/lib/css/utilities.css
  src/routes/programme/BookmarkButton.svelte
  src/routes/programme/DayNavigation.svelte
  src/routes/programme/Event.svelte
  src/routes/programme/session/[slug]/+page.server.ts
  src/routes/programme/session/[slug]/+page.svelte
  src/routes/programme/session/[slug]/share.utils.ts
  src/routes/programme/utils.ts
  static/icons/calendar-plus.svg
  static/icons/calendar.svg
  static/icons/clock.svg
  static/icons/corner-down-left.svg
  static/icons/pin.svg
  static/icons/share.svg
Due: prettier --write ., eslint .

feat: add thre following sessions with the same theme
  src/routes/programme/Event.svelte
  src/routes/programme/MobileSlotTime.svelte
  src/routes/programme/SlotTitle.svelte
  src/routes/programme/session/[slug]/+page.svelte
  src/routes/programme/session/[slug]/FutureSessions.svelte
  src/routes/programme/utils.ts
Due: prettier --write ., eslint .

fix: multiple fixes
  src/lib/config/site.ts
  src/params/day.ts
  src/routes/+error.svelte
  src/routes/programme/DayNavigation.svelte
  src/routes/programme/Event.svelte
  src/routes/programme/[[slug=day]]/+page.server.ts
  src/routes/programme/[[slug=day]]/+page.svelte
  src/routes/programme/session/[slug]/+page.svelte
  src/routes/programme/session/[slug]/FutureSessions.svelte
  src/routes/programme/session/[slug]/share.utils.ts
  src/routes/programme/utils.ts
Due: prettier --write ., eslint .

fix: only confirmed session + eat size + mobile size
  src/routes/programme/Event.svelte
  src/routes/programme/data/constants.ts
  src/routes/programme/data/schedule.json
  src/routes/programme/data/scheduleNotConfirmed.json
  src/routes/programme/themes.css
  src/routes/programme/utils.ts
Due: prettier --write ., eslint .

fix: Keynote time + type
  src/routes/programme/data/keynotesAndLunch.json
  src/routes/programme/data/schedule.json
Due: prettier --write .

Activation du bouton Billets
  src/lib/components/layout/Header.svelte
  src/lib/config/site.ts
Due: prettier --write ., eslint .

schedule: Fix typo in talk title
  src/routes/programme/data/schedule.json
Due: prettier --write .

Update sponsors 2026
  README.md
  src/routes/sponsors/constants.ts
  static/sponsors/logo_moustache_ai.png
  static/sponsors/logo_mv_group.svg
  static/sponsors/logo_neosoft.png
  static/sponsors/logo_orange_business.png
Due: prettier --write ., eslint .

schedule: Fix typo in talk title (#27)
  src/routes/programme/data/schedule.json
Due: prettier --write .

feat: add billeterie newsletter
  src/lib/config/site.ts
  src/lib/css/app.css
  src/routes/+page.svelte
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
  src/routes/infos-pratiques/faq/+page.md
  static/blog/2026/newsletter.png
Due: prettier --write ., eslint .

fix: 2 typos and subtitle change
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
Due: prettier --write .

fix: 2 typos and subtitle change (#29)
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
Due: prettier --write .

fix: 1 typo and 1 redraft
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
Due: prettier --write .

fix: 1 typo and 1 redraft (#30)
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
Due: prettier --write .

feat: add billeterie newsletter (#28)
  src/lib/config/site.ts
  src/lib/css/app.css
  src/routes/+page.svelte
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
  src/routes/infos-pratiques/faq/+page.md
  static/blog/2026/newsletter.png
Due: prettier --write ., eslint .

Conversion PNG -> WebP pour alléger le poids
  src/routes/blog/2026-04-29-ouverture-de-la-billetterie/+page.md
  static/blog/2026/newsletter.png
  static/blog/2026/newsletter.webp
Due: prettier --write .

Ouverture billetterie page d'accueil
  src/lib/components/home/HeroSection.svelte
  src/lib/components/layout/Header.svelte
  src/lib/config/site.ts
Due: prettier --write ., eslint .

Update sponsors
  src/routes/sponsors/constants.ts
  static/sponsors/logo_moustache_ai.png
Due: prettier --write ., eslint .

Update programme
  src/routes/programme/data/schedule.json
  src/routes/programme/data/scheduleNotConfirmed.json
  src/routes/programme/data/speakers.json
Due: prettier --write .

make eslint config faster
  eslint.config.js
Due: prettier --write ., eslint .
